<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.indivgame">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IndivGame">
        <activity android:name=".Create"></activity>
        <activity
            android:name=".Name"
            android:theme="@style/Theme.IndivGame.ScoreTheme" />
        <activity
            android:name=".AddImg"
            android:theme="@style/Theme.IndivGame.PopupTheme" />
        <activity
            android:name=".Score"
            android:theme="@style/Theme.IndivGame.ScoreTheme" />
        <activity
            android:name=".Confirm"
            android:theme="@style/Theme.IndivGame.PopupTheme" />
        <activity
            android:name=".Instructions"
            android:theme="@style/Theme.IndivGame.PopupTheme" />
        <activity android:name=".HighScore" />
        <activity android:name=".ImgSelect" />
        <activity android:name=".Game" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>